/*
=============== 
Variables
===============
*/

:root {
  --white:#fff;
  --primary:#19647e;
  --secondary:#28AFB0;
  --third:#FF6B6C;
  --forth:#320E3B;
  --fifth:#CEFF1A;
  --overlay:#19657e34;
  
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--white);
  font-size:15px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 15px;
  /* color: var(--white); */
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  
}
h1 {
 
}
h2 {
  
}
h3 {
  
}
h4 {
  
}
p {
 
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

/*
=============== 
sidebar and modal
===============
*/
.main{
  height: 100vh;
  min-height:100vh;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 0px 80px;
  position: relative;
}

.show-sidebar{
  position: absolute;
  top: 20px;
  left: 20px;
  outline: none;
  padding: 0px;
  background-color:transparent;
  display: flex;
  border:none;
  animation:sidebar-icon  4s linear  infinite forwards;
  z-index: 100;
  transition: 0.3s ease;
}

@keyframes sidebar-icon{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

.show-sidebar .sidebar-icon{
  color: var(--primary);
  font-size: 16px;
}

.modal-btn{
  background-color: var(--primary);
  color: var(--white);
  padding:10px 20px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "poppins";
}
.modal-btn:hover{
  background-color: var(--secondary);
}

/* modal style  */
.modal{
  background-color:var(--overlay);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.show-modal{
  opacity: 1;
  pointer-events: auto;
  z-index: 99;
}

.modal-wrap{
  background-color: var(--white);
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  /* justify-content: center; */
  align-items: flex-start;
  position: relative;
}

.closemodal-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: var(--primary);
}

.modal-wrap h2,.modal-wrap p{
  width: 100%;
}

.modal-wrap h2{
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary);
}
.modal-wrap p{
  font-size: 15px;
  font-weight: 400;
  color: var(--third);
}

/* sidebar style  */

.sidebar{
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width:400px;
  height: 100vh;
  min-height: 500px;
  max-width: 400px;
  padding: 20px;
  background-color: var(--third);
  color: var(--white);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition:0.3s ease; 
}

.show-side{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0%);
}

.close-sidebar{
  position: absolute;
  right: 20px;
  font-size: 20px;
  color: var(--white);
  top: 20px;
}
.sidebar-logo{
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 50px !important;
}

.sidebar-links{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.sidebar-links a,.sidebar-socials a{
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}
.sidebar-links a{
  display: flex;
  align-items: center;
  gap:5px;
  position: relative;
  padding:5px 0px;
}

.sidebar-links a::before{
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0px;
  transition: 0.2s linear;
  background-color:var(--fifth);
}

.sidebar-links a:hover{
  color: var(--fifth);
}
.sidebar-links a:hover::before{
  width: 20px;
}

.sidebar-socials{
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.sidebar-socials a:hover{
  color: var(--fifth);
}

.fallow-us{
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}


/* responsive  */

@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 700px) {
  .sidebar{
    width:50%; 
    max-width: 50%;
  }

  
}
@media screen and (max-width: 500px) {
  .sidebar{
    width:100%; 
    max-width: 100%;
  }
}
@media screen and (max-width: 300px) {
  
}


